environment_variables.json

venv*

bin/
lib/
lib64
include/
share/
pyvenv.cfg

.DS_Store

*~
*#
*._*
*.log
*.log.*
_*/

*.pyc
*.egg-info

.cache
__pycache__
.idea
.pytest_cache
.mypy_cache

.tox
.coverage
